{% extends 'antares/ui-components::templates.layouts.template' %}
{% block content %}
    <div class="card card--info card--padding24" data-preload>
        <div class="card__header">
            <div class="card__header-left">
                <span>
                    {{ title }}
                </span>
            </div>                       
        </div>
        <div class="card__content">
            <p>This is ui component template</p>
            {{ content|raw }}
        </div>
    </div>
{% endblock %}