<div class="widget-content">
    <div class="alert alert--glow alert--info alert--lg alert--border mb20" >
        <i class="alert__icon zmdi zmdi-info"></i>
        <span>Loading widget content...</span>
        <i class="alert__close zmdi zmdi-close"></i>
    </div>
</div>