{% extends 'antares/widgets::templates.layouts.template' %}
{% block content %}
    <div class="card card--chart card--scrollbox" data-chart="true">
        <div class="card__left">
            <div class="card__header">
                <div class="card__header-left">
                    <span>Graph 3</span>
                </div>
                <div class="card__header-right">
                    <form action="" method="post">
                        <input data-daterangepicker="true" class="mr24">
                        <input type="checkbox" data-icheck="true" name="check[1]" id="check[2]">
                        <label class="ml8" for="check[2]">Compare</label>
                    </form>
                </div>
            </div>
            <div class="card__content card__content--chart">
                <div class="chart" id="chart--two">
                    <svg class="lineChart--svg"></svg>
                </div>
            </div>
        </div>
        <div class="card__right">
            <header>
                <span class="card__title">Total</span>
                <span class="card__indicator card__indicator--down compare">28%<i class="zmdi zmdi-long-arrow-down"></i></span>
                <span class="card__ammount"><strong>2897.98</strong><span class="compare"> / 3484.87</span></span>
                <div class="card__mobile-toggle mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-caret-down"></i>
                </div>
            </header>
            <ul class="datarow">
                <li class="datarow__sgl datarow__sgl--up">
                    <div class="datarow__left">
                        <span class="datarow__status">Data 2</span>
                    </div>
                    <div class="datarow__right">
                        <span class="datarow__data"><strong>55</strong><span class="compare">/121</span></span>
                        <span class="datarow__percentage compare"><span>47%</span><i class="zmdi zmdi-long-arrow-up"></i></span>
                    </div>
                </li>
                <li class="datarow__sgl datarow__sgl--up">
                    <div class="datarow__left">
                        <span class="datarow__status">Data 2</span>
                    </div>
                    <div class="datarow__right">
                        <span class="datarow__data"><strong>31</strong><span class="compare">/41</span></span>
                        <span class="datarow__percentage compare"><span>42%</span><i class="zmdi zmdi-long-arrow-up"></i></span>
                    </div>
                </li>
                <li class="datarow__sgl datarow__sgl--down">
                    <div class="datarow__left">
                        <span class="datarow__status">Data 1</span>
                    </div>
                    <div class="datarow__right">
                        <span class="datarow__data"><strong>23</strong>/121</span>
                        <span class="datarow__percentage compare"><span>11%</span><i class="zmdi zmdi-long-arrow-down"></i></span>
                    </div>
                </li>
                <li class="datarow__sgl datarow__sgl--up">
                    <div class="datarow__left">
                        <span class="datarow__status">Data 3</span>
                    </div>
                    <div class="datarow__right">
                        <span class="datarow__data"><strong>235</strong><span class="compare">/412</span></span>
                        <span class="datarow__percentage compare"><span>44%</span><i class="zmdi zmdi-long-arrow-up"></i></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}